---
import { projects } from '@cv'
import Icon from '@components/Icon.astro'
import IconRepo from '@icons/Github.astro'
import IconVisit from '@icons/Visit.astro'
---

<section id="projects" class="py-10 xl:px-36">
  <h2 class="mb-10 text-3xl font-bold">👨‍💻 Projects</h2>
  {
    projects.map((p) => (
      <article class="mb-20 grid grid-cols-1 gap-10 lg:grid-cols-5 ">
        <figure class="md:col-span-2">
          <img class="rounded-2xl" src={p.coverImage} alt={p.name} />
        </figure>
        <section class="relative md:col-span-3">
          <header class="mb-3">
            <h3 class="text-xl font-bold">{p.name}</h3>
          </header>
          <p class="mb-3">{p.description}</p>
          <ul class="flex gap-3">
            {p.highlights.map((h) => (
              <li class="inline rounded-full bg-purple-950 px-3 py-1">{h}</li>
            ))}
          </ul>
          <footer class="flex justify-between mt-8 md:absolute md:bottom-0 md:w-full">
            <ul class="flex gap-3">
              {p.techStack.map((t) => (
                <li>
                  <Icon name={t} />
                </li>
              ))}
            </ul>
            <nav>
              <a class="border-[1px] rounded-md px-2 py-2 mr-4 text-nowrap" href={p.repo} target="_blank">
                Repo <figure class="w-6 h-6 inline-block align-middle"><IconRepo class='stroke-white'/></figure>
              </a>
              {p.url && (
                <a class="border-[1px] rounded-md px-2 py-2 text-nowrap" href={p.url} target="_blank">
                  Visit <figure class="w-7 h-7 inline-block align-middle"><IconVisit /></figure>
                </a>
              )}
            </nav>
          </footer>
        </section>
      </article>
    ))
  }
</section>
