---
import Icon from '@components/Icon.astro'
import { jobs } from '@cv'
type Job = {
  name: string
  description: string
  coverImage: string
  url: string
  highlights: string[]
  techStack: string[]
}
---

{
  jobs.length > 0 ? (
    <section id="works" class="py-10 lg:px-36">
      <h2 class="mb-10 text-3xl font-bold">🤝 Last Works</h2>
      {jobs.map((j: Job) => (
        <article class="mb-20 grid grid-cols-1 gap-10 lg:grid-cols-5 ">
          <figure class="lg:col-span-2">
            <img class="rounded-2xl" loading="lazy" src={j.coverImage} alt={j.name} />
          </figure>
          <section class="relative lg:col-span-3">
            <header class="mb-3">
              <h3 class="text-xl font-bold">{j.name}</h3>
            </header>
            <p class="mb-3">{j.description}</p>
            <ul class="flex gap-3">
              {j.highlights.map((h) => (
                <li class="inline rounded-full bg-purple-950 px-3 py-1">{h}</li>
              ))}
            </ul>
            <footer class="mt-8 flex justify-between lg:absolute lg:bottom-0 lg:w-full">
              <ul class="flex gap-3">
                {j.techStack.map((t) => (
                  <li>
                    <Icon name={t} />
                  </li>
                ))}
              </ul>
            </footer>
          </section>
        </article>
      ))}
    </section>
  ) : null
}
